<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="com.fitness.admin.workout.vo.WorkoutSaveVO" alias="workoutSave"></typeAlias>
		<typeAlias type="com.fitness.admin.food.vo.FoodSaveVO" alias="foodSave"></typeAlias>
		<typeAlias type="com.fitness.admin.term.vo.TermVO" alias="term"></typeAlias>
		<typeAlias type="com.fitness.admin.admin.vo.AdminVO" alias="admin"></typeAlias>
		<typeAlias type="com.fitness.admin.user.vo.UserVO" alias="user"></typeAlias>
		<typeAlias type="com.fitness.admin.qeboard.vo.QEBoardVO" alias="qeboard"></typeAlias>
		<typeAlias type="com.fitness.admin.feboard.vo.FEBoardVO" alias="feboard"></typeAlias>
		<typeAlias type="com.fitness.admin.veboard.vo.VEBoardVO" alias="veboard"></typeAlias>
		<typeAlias type="com.fitness.admin.hteboard.vo.HTEBoardVO" alias="hteboard"></typeAlias>
		<typeAlias type="com.fitness.admin.trainercert.vo.TrainerCertVO" alias="trainercert"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/workoutSave-mapping.xml" />
		<mapper resource="mappings/foodSave-mapping.xml" />
		<mapper resource="mappings/term-mapping.xml" />
		<mapper resource="mappings/admin-mapping.xml" />
		<mapper resource="mappings/user-mapping.xml" />
		<mapper resource="mappings/qeboard-mapping.xml" />
		<mapper resource="mappings/feboard-mapping.xml" />
		<mapper resource="mappings/veboard-mapping.xml" />
		<mapper resource="mappings/hteboard-mapping.xml" />
		<mapper resource="mappings/trainercert-mapping.xml" />
	</mappers>
</configuration>
