<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="com.fitness.admin.workout.vo.WorkoutSaveVO" alias="workoutSave"></typeAlias>
		<typeAlias type="com.fitness.admin.food.vo.FoodSaveVO" alias="foodSave"></typeAlias>
		<typeAlias type="com.fitness.admin.term.vo.TermVO" alias="term"></typeAlias>
		<typeAlias type="com.fitness.admin.admin.vo.AdminVO" alias="admin"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/workoutSave-mapping.xml" />
		<mapper resource="mappings/foodSave-mapping.xml" />
		<mapper resource="mappings/term-mapping.xml" />
		<mapper resource="mappings/admin-mapping.xml" />
	</mappers>
</configuration>
