<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<typeAlias type="com.fitness.user.common.vo.UserVO" alias="user_info"/>
		<typeAlias type="com.fitness.user.kakaoMap.vo.HealthTeamVO" alias="healtTeam"/>
		<typeAlias type="com.fitness.user.comment.vo.CommentInfoVO" alias="commentInfo"/>
		<typeAlias type="com.fitness.user.comment.vo.CommentOverlapVO" alias="overlapCheck"/>
		<typeAlias type="com.fitness.user.kakaoMap.vo.HealthTeamJoinVO" alias="healthTeamJoin"/>
		<typeAlias type="com.fitness.user.feboard.vo.FeBoardVO" alias="feboard"/>
		<typeAlias type="com.fitness.user.qeboard.vo.QeBoardVO" alias="qeboard"/>
		<typeAlias type="com.fitness.admin.workout.vo.WorkoutSaveVO" alias="workoutSave"/>
		<typeAlias type="com.fitness.admin.food.vo.FoodSaveVO" alias="foodSave"/>
		<typeAlias type="com.fitness.admin.term.vo.TermVO" alias="term"/>
		<typeAlias type="com.fitness.admin.admin.vo.AdminVO" alias="admin"/>
		<typeAlias type="com.fitness.admin.veboard.vo.VEBoardVO" alias="veboard"/>
		<typeAlias type="com.fitness.admin.noboard.vo.NoBoardVO" alias="noboard"/>
		<typeAlias type="com.fitness.admin.trainercert.vo.TrainerCertVO" alias="trainercert"/>
		<typeAlias type="com.fitness.trainer.workout.vo.WorkOutVO" alias="workout"/>
		<typeAlias type="com.fitness.trainer.worksave.vo.WorkSaveVO" alias="worksave"/>
		<typeAlias type="com.fitness.trainer.program.vo.ProgramVO" alias="program"/>
		<typeAlias type="com.fitness.trainer.foodout.vo.FoodOutVO" alias="foodout"/>
	<!-- 
		<typeAlias type="com.fitness.admin.hteboard.vo.HTEBoardVO" alias="hteboard"></typeAlias>
	 -->	
		
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappings/healthTeam-mapping.xml"/>
		<mapper resource="mappings/comment-mapping.xml"/>
		<mapper resource="mappings/overlap-mapping.xml"/>
		<mapper resource="mappings/fitness-mapping.xml"/>
		<mapper resource="mappings/workoutSave-mapping.xml" />
		<mapper resource="mappings/foodSave-mapping.xml" />
		<mapper resource="mappings/term-mapping.xml" />
		<mapper resource="mappings/admin-mapping.xml" />
		<mapper resource="mappings/qeboard-mapping.xml" />
		<mapper resource="mappings/feboard-mapping.xml" />
		<mapper resource="mappings/veboard-mapping.xml" />
		<mapper resource="mappings/noboard-mapping.xml"/>
		<mapper resource="mappings/trainercert-mapping.xml"/>
		<mapper resource="mappings/workout-mapping.xml"/>
		<mapper resource="mappings/worksave-mapping.xml"/>
		<mapper resource="mappings/program-mapping.xml"/>
		<mapper resource="mappings/foodout-mapping.xml"/>
		
	<!-- 
		<mapper resource="mappings/hteboard-mapping.xml" />
	 -->	
	
	</mappers>
</configuration>
