

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
 
 

 
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
   
  }
 
  h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  .container {
    padding: 80px 120px;
  }
 
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
 
  


  .nav-tabs li a {
    color: #777;
  }
 
  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  

  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  
  .form-control {
    border-radius: 0;
  }
  textarea {
    resize: none;
  }
  ul {
    list-style-type: none;
  }

  </style>
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" style="overflow-x: hidden; ">


<nav style="background-color: black; color: white;" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a style="font-size: 20px;" class="navbar-brand" href="#myPage">FITNESSCARE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul style="font-size: 11px;  "  class="nav navbar-nav navbar-right">
        <li style="margin-right: 80px;" ><a  href="#Fitnesscare">About</a></li>
        <li style="margin-right: 80px;"><a   href="#program">Program</a></li>
        <li style="margin-right: 80px;"><a   href="#diet">Diet</a></li>
        <li style="margin-right: 80px;"><a  href="#tour">Community</a></li>
        <li style="margin-right: 80px;"><a href="#band">Shoppingmall</a></li>
        <li style="margin-right: 80px;"><a  href="#">Contact</a></li>
      </ul>
          
    
       
        
        
     
    </div>
  
  </div>
</nav>
<div style="width: 1522px; margin-top: 100px;  height: 700px; border:solid 1px black;" id="Login">
  <div style="width: 760px; height: 700px; border:solid 1px black; margin-left: 380px;" id="signup">
    <h1 style="text-align: center; font-weight: bold; color: black; font-size: 50px; word-spacing: 10px;">Join</h1>
    <a href="https://ko-kr.facebook.com/login/"><img src="C:\Users\82108\Desktop\print/facebook.png" style="margin-left: 105px; width: 260px; height: 45px; border-radius: 5px; margin-top: 15px;"></a>
    <a href="https://www.google.com/"><img src="C:\Users\82108\Desktop\print/google.png" style=" margin-left:20px; margin-top: 15px; width: 260px; height: 45px; border-radius: 5px;"></a>
    <h3 style="text-align: center; border:solid 1px gray; height: 0; width: 330px; display: inline-block;margin-left: 37px; margin-top: 30px;"></h3> <h3 style="margin-left: 20px; text-align: center; border: solid 1px gray; height: 0; width: 330px; display: inline-block;"></h3>
      <p style="text-align: center;margin-top: -52px;">OR</p>
      <form>
        
        <input type="text" name="" style=" width: 300px; height: 40px; margin-left: 37px; margin-top: 20px;  text-align: center;" placeholder="First name"><br>
        <input type="text" name="" style=" width: 300px; height: 40px; margin-top: 20px; margin-left: 37px; text-align: center;" placeholder="Last name"><br>
        <input type="text" name="" style=" width: 300px; height: 40px; margin-top: 20px;  margin-left: 37px;text-align: center;" placeholder="Email address"><br>
        <input type="text" name="" style=" width: 300px; height: 40px; margin-top: 20px; margin-left: 37px; text-align: center;" placeholder="Username"><br>
        <input type="password" name="" style=" width: 300px; height: 40px; margin-top: 20px; margin-left: 37px; text-align: center;" placeholder="Password"><br>
        <input type="password" name="" style=" width: 300px; height: 40px; text-align: center; margin-top: 20px; margin-left: 37px; " placeholder="Confirm Password">
      </form>
      <div style="position: relative; top: -340px; left: 400px; width: 358px; height: 340px; border:solid 1px black; box-shadow: 5px 5px 5px 5px;" id="membership benefit">
        <ul>
          <li style="font-weight: bold; font-size: 15px; color: black; margin-top: 10px; ">Key Benefits:</li>
          <img style="position: relative; top: 13px; left: -25px; width: 20px; height: 20px;" src="C:\images/check1.png"><li style="margin-left: 5px; margin-top: -10px;">Customizable fitnesscare</li>
          <img style="position: relative; top: 13px; left: -25px; width: 20px; height: 20px;" src="C:\images/check1.png"><li style="margin-left: 5px; margin-top: -10px;">Daily progress tracking</li>
          <img style="position: relative; top: 13px; left: -25px; width: 20px; height: 20px;" src="C:\images/check1.png"><li style="margin-left: 5px; margin-top: -10px;">Favorite workout videos</li>
          <img style="position: relative; top: 13px; left: -25px; width: 20px; height: 20px;" src="C:\images/check1.png"><li style="margin-left: 5px; margin-top: -10px;">24/7 community support</li>
          <img style="position: relative; top: 13px; left: -25px; width: 20px; height: 20px;" src="C:\images/check1.png"><li style="margin-left: 5px; margin-top: -10px;">Helpful health, nutrition and<br> fitness information</li>
          <img style="position: relative; top: 13px; left: -25px; width: 20px; height: 20px;" src="C:\images/check1.png"><li style="margin-left: 5px; margin-top: -10px;">and much, much more…</li>
        </ul>
        <button style="text-align: center; width: 300px; height: 40px; color: white; position: relative; top: 60px; left: -180px;  border-radius: 3px; background-color: #81BEF7; font-size: 20px; border:0; outline: 0;" type="button">Join</button>
      <p style="text-align: center; font-size: 14px; margin-left: -400px; margin-top: 75px; ">By joining, you agree to the Fitness Blender <a style="text-decoration: none;" href="#"><span style="color: #81BEF7;">Terms of Service</span></a> and <a style="text-decoration: none;" href="#"><span style="color:#81BEF7; ">Privacy Policy</span></a> </p>
        <p style="font-size: 14px; text-align: center; margin-left: -400px; margin-top: 50px;
        ">Already a member? <a style="text-decoration: none;" href="#"><span style="color: #81BEF7;">&nbsp;&nbsp;&nbsp;Sign In</span></a></p>
      </div>
  </div>
</div>

  <footer style="margin-top: 100px; background-color: black; border:solid 1px white; " class="footer-section">
    


        <div style="width: 1400px; border:solid 1px red; height: 150px; margin-top: 50px; " class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="fitness-number">
                        <h3 style="color: white; font-weight: bold; font-size: 22px; text-align: left; margin-top: -50px; ">Phone</h3>
                        <p style="color: white; font-weight: bold; font-size: 17px; text-align: left; margin-top: -20px; ">(123) 118 9999 - (123) 118 9999</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fitness-address">
                        <h3 style="color: white; font-weight: bold; font-size: 22px; text-align: center; margin-top: -50px;">Address</h3>
                        <p style="color: white; font-weight: bold; font-size: 17px; text-align: center;  margin-top: -20px;">KR, 26th, 3rd and 6th floors of Danseongsa Temple in Myo-dong, Jongno-gu, Seoul</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fitness-email">
                        <h3 style="color: white; font-weight: bold; font-size: 22px; text-align: right; margin-top: -50px; ">Email</h3>
                        <p style="color: white; font-weight: bold; font-size: 17px; text-align: right; margin-top: -20px; ">chicmanx@Gutim.com</p>
                    </div>
                </div>
            </div>
          

            <div class="subscribe-option set-bg" style="border:solid 1px blue; background-image: url('C:/images/footer.jpg'); width: 1520px; height: 200px;border:solid 1px white;  background-repeat: no-repeat;  margin-left: -180px; margin-top: 70px;  ">
                <div class="so-text">
                    <p style="font-weight: bold; color: white; font-size: 25px; padding-left: 60px; padding-top: 55px;">Subscribe To Our Mailing List<br> <span style="font-size: 20px; color: white; font-weight: bold;">Sign up to receive the latest information</span></p>
                   
                </div>
                <form action="#" class="subscribe-form">
                    <input style="text-align: center; position: relative; top: -120px; left: 1017px; width: 200px; height: 50px;" type="text" placeholder="Enter Your Mail">
                    <button style="  position: relative; top: -102px;border:0; outline: 0; left:987px;  width: 75px; height: 50px; background-image: url('C:/images/check.jpg');"></button>
                </form>
            </div>
          </div>
             <div  class="copyright-text">
                <p style="color: white; font-weight: bold; font-size: 25px; margin-top: 280px; text-align: center; ">© Copyright 2020 All rights reserved | This template is made with by CHICMANX</p>
                <div style="border:solid 1px white; margin-top: -55px;word-spacing: 5px; padding-left: 40px;  width: 250px; float: right;" class="footer-social">
                  <a href="https://www.kakaocorp.com/"><img style="width: 50px; height: 40px;" src="C:\images/kakao.jfif"></a>
                  <a href="https://www.facebook.com/"><img src="C:\images/facebook.jpg"></a>
                  <a href="https://www.instagram.com/?hl=ko"><img src="C:\images/instar.png"></a>
                </div>
            </div>
        </div>

      </footer>
  
 
   






   
  






</body>
</html>
